body, html{
  margin: 0px;
  padding: 0px;

}

@font-face {
  font-family: Hatton;
  src: url(Hatton-Semibold.otf);
}

.landingPage{
  display: flex;
  background-image: url('COVER.png');
  height: 100vmin;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.coverText{
   color: white;
   text-align: center;
   line-height: 1vmin;

 }

h1{
   font-family: Hatton;
   letter-spacing: 0.7vmin;
   font-size: 10vmin;

}

h3,h6{
   font-family: Lato;
   font-weight: 300;
}

.coverText h1{
  font-size: 12vmin;
  letter-spacing: 1vmin;
}

h3{
  font-size: 4vmin;
  letter-spacing: 0.5vmin;
}

h6{
  font-size: 2vmin;
}

p{
  font-family: Amiri;
  font-size: 3vmin;
  text-align: justify;
  line-height: 4vmin;
}

.streetwearEdition{
  background-image: url('streetwearEditionImage.png');
  height: 105vmin;
  background-size:auto;
  background-repeat: no-repeat;
  background-position:left;
  background-attachment: fixed;
  overflow: hidden;
  text-align: center;
}

.streetwearEdition p{
  padding: 0px 10vmin 1vmin 85vmin;
}

.streetwearToday{
  display: flex;
  background-image: url('streetwearTodayImage.png');
  height: 101vmin;
  background-size:auto;
  background-repeat: no-repeat;
  background-position:right;
  background-attachment: fixed;
  overflow: hidden;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.streetwearToday h1{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
  text-align: center;
  transform: rotate(90deg);
  padding: 8vmin 0px 0px 0px;
}

.streetwearToday h3{
  font-family: Lato;
  font-weight: 600;
  font-size: 5vmin;
  color: #F1C227;
  padding: 9vmin 0vmin 0px 8.5vmin;
  line-height: 6vmin;
}
.streetwearToday p{
  padding: 3vmin 25vmin 0px 8.5vmin;
}

.logoMania{

  background-image: url("Logomania.png");
  height: 100vmin;
  background-size:cover;
  background-repeat: no-repeat;
  background-position:right;
  background-attachment: fixed;
  overflow: hidden;
}

.logoMania p{
  padding: 20vmin 8vmin 0px 90vmin;
}

.sneakerCulture{
  background-image: url("Air Jordan 1 High OG.png");
  height: 100vmin;
  background-size:auto;
  background-repeat: no-repeat;
  background-position:left;
  background-attachment: fixed;
  overflow: hidden;
}
.sneakerCulture h1{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
  text-align: center;
}

.shoesImage{
  display: flex;
  justify-content: space-between;
  padding: 0px 5vmin 0px 45vmin;

}

.sneakerCulture p{
  padding: 3.3vmin 7vmin 1vmin 81vmin;
  font-size: 2.4vmin;
}

.conclusion{
  background-image: url("conclusionImage.png");
  height: 100vmin;
  background-size:auto;
  background-repeat: no-repeat;
  background-position:right;
  background-attachment: fixed;
  overflow: hidden;
  background-color: #7E8F31;
  padding-bottom: 5vmin;

}

.conclusion h1{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
  font-size: 7.5vmin;
  padding:3vmin 0px 0px 10vmin;
}

.conclusion p{
  padding: 0px 85vmin 0px 10vmin;
}

.blackOwned{
  background-color: #3E73A7;
  overflow: hidden;;
}

.blackOwned h1{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px white;
  font-size: 9vmin;
  padding: 0vmin 25vmin 0px 10vmin;

}

a{
  text-decoration: none;
  font-family: Lato;
  font-weight: 600;
  font-size: 3vmin;
  color:#1C68B2;
  padding: 2vmin;
}

.brandNames{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vmin;
  padding: 7vmin 10vmin 5vmin 10vmin;
  background-color: WHITE;

}

.insetSection {
  -webkit-box-shadow: inset 0px 9px 20px -5px #000000;
  box-shadow: inset 0px 9px 20px -5px #000000;
}

@media screen and (max-width: 900px){
  p{
    font-family: Amiri;
    font-size: 4vmin;
    text-align: justify;
    line-height: 5.5vmin;
  }

  .landingPage{
    background-image: url('Mask Group 18.png');
    background-attachment: inherit;
    height: 150vmin;
  }
  .coverText{
    color: white;
    text-align: center;
    line-height: 1vmin;
  }

  .coverText h1{
    font-size: 10vmin;
  }

  .streetwearEdition{
    background-image: none;
    height: 150vmin;
    background-color: #E9BEDC;
  }

  .streetwearEdition h1{
    -webkit-text-fill-color: black ;
    -webkit-text-stroke: 0px;
  }

  .streetwearEdition p{
    padding: 0px 5vmin 0px 5vmin;
  }

  .streetwearToday{
    background-image: url('streetwearToday small.png');
    background-size: 100%;
    background-position: top;
    background-attachment: inherit;
    height: 170vmin;
    flex-direction: column;
    background-color:#F1C227;
  }
  .streetwearToday h1{
    -webkit-text-fill-color: black ;
    -webkit-text-stroke: 0px;
    padding:0vmin 0px 58vmin 3vmin;

  }
  .streetwearToday p{
    padding: 0px 5vmin 10px 5vmin;

  }

  .streetwearToday h3{
    font-family: sans-serif;
    font-size: 4.5vmin;
    color: black;
    padding: 0px 5vmin 0px 5vmin;
  }
  .logoMania{
    background-image: url('logomania asmall.png');
    background-size: 100%;
    background-position: top;
    background-attachment: inherit;
    height: 210vmin;
    display: flex;
    align-items: flex-end;


  }
  .logoMania p{
    padding: 10vmin 10vmin 10vmin 10vmin;
    background-color: #9D241C;
    margin: 0px;
  }

  .sneakerCulture{
    background-image: url("Air Jordan 1 High OG.png");
    height: 225vmin;
    background-size:100%;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position:top;
  }

  .sneakerCulture h1{
    -webkit-text-fill-color: black ;
    -webkit-text-stroke: 0px;
  }

  .shoesImage{
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .sneakerCulture p{
    padding: 0;
    font-size: 4vmin;
    background-color: WHITE;
    padding: 10vmin 10vmin 10vmin 10vmin;
    margin: 0;
  }
  img{
    width: 30%;
    padding-bottom: 5vmin;
  }
  .conclusion{
    background-image: none;
    background-color: #7E8F31;
    padding-bottom: 5vmin;
    height: 145vmin;

  }

  .conclusion h1{
    -webkit-text-fill-color: black ;
    -webkit-text-stroke: 0px;
    font-size: 7.5vmin;
    padding:3vmin 0px 0px 10vmin;
  }

  .conclusion p{
    padding: 0vmin 10vmin 10vmin 10vmin;
  }


  a{
    font-weight: 600;
    font-size: 3.75vmin;
  }

  .brandNames{
    height: 250vmin;
  }


  .blackOwned h1{
    -webkit-text-fill-color: white ;
    -webkit-text-stroke: 0px;
  }

  .coverText h1{
    color: white;
    -webkit-text-stroke: 0px;
  }
  h3,h6{
     font-family: sans-serif;

  }

}
